<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl">

<h2>Calculatest</h2>


    <input type="number" ng-model="input1" size="50000" placeholder="Add Number">
    <input type="number" ng-model="input2" size="50000" placeholder="Add Number">
    <form ng-submit="plus()">
      <input type="submit" value="+">
    </form>
    <form ng-submit="minus()">
      <input type="submit" value="-">
    </form>
    <form ng-submit="multi()">
      <input type="submit" value="*">
    </form>
    <form ng-submit="divide()">
      <input type="submit" value="/">
    </form>


<br>

<p ng-bind="todoText"></p>




<!-- script for function-->
<script src="index.js"></script>
<script src="operate.js"></script>

</body>
</html>
